
{% extends "admin/base.html" %}
{% load static %}


{% block title %}Ayat{% endblock %}



{% block extrastyle %}
    {{ block.super }}
    <script src="{% static 'js/custom.js' %}"></script>

    <style>
        #header {
            background-image: url('{% static "images/ayat.png" %}');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
        }
        div.flex-container:has(#id_TotalAmount,#id_TotalQty) {
            /* CSS styles for the selected element */
            /* For example: */
        display:none
          }
    </style>
{% endblock %}
